---
import Badge from "$components/Helper/Badge.astro";
import ProseWrapper from "$layouts/ProseWrapper.astro";
import { Image } from "astro:assets";
import _ from "lodash";
import ProjectBreadcrumb from "./ProjectBreadcrumb.astro";
import ProjectButtons from "./ProjectButtons.astro";

const { project } = Astro.props;

const images = import.meta.glob(
  "/src/assets/projects/**/*.{png,webp,jpg,jpeg,svg}"
);
const projectImages = await Promise.all(
  (project.images || []).map(async (image: string) => {
    const imageModule = images[image];
    return imageModule ? await imageModule() : null;
  })
);

const firstImage = _.first(projectImages);
const firstImagePath = _.first(project.images) as string | undefined;

// Import SVG as raw if it's an SVG
let firstImageSvg: string | null = null;
if (_.endsWith(firstImagePath, ".svg")) {
  try {
    const svgModule = await import(firstImagePath + "?raw");
    firstImageSvg = svgModule.default;
  } catch (error) {
    console.log("Failed to import SVG as raw:", error);
  }
}

const hasImages = !_.isEmpty(project.images);
const isSvg = _.endsWith(firstImagePath, ".svg");
const hasFirstImage = !_.isNil(firstImage);
const hasSvgContent = !_.isNil(firstImageSvg);
const hasMultipleImages = _.size(project.images) >= 4;
const hasTags = !_.isEmpty(project.tags);
const hasBackgroundColor = !_.isNil(project.backgroundColor);
---

<div class="text-white relative">
  <!-- Background blur -->
  {
    hasImages ? (
      <div class="fixed inset-0 -z-10">
        <div class="absolute inset-0 bg-black/80" />
        {hasBackgroundColor && (
          <div
            class="absolute inset-0"
            style={`background-color: ${project.backgroundColor}; z-index: -2;`}
          />
        )}
        {isSvg && hasSvgContent ? (
          <div
            set:html={firstImageSvg}
            class="h-full w-full object-cover object-center z-10 blur-xl"
            style="height:100vh;width:100vw; position: absolute; top: 0; left: 0; display: flex; align-items: center; justify-content: center; padding: 10px 0;"
          />
        ) : hasFirstImage ? (
          <img
            src={firstImage.default.src}
            alt=""
            class="h-full w-full object-cover object-center blur-md opacity-30"
            style="height:100vh;width:100vw; padding: 10px 0;"
          />
        ) : null}
      </div>
    ) : null
  }

  <div class="pt-6 sm:pt-24">
    <ProjectBreadcrumb name={project.name} />

    <!-- Image gallery -->
    {
      hasMultipleImages ? (
        <div class="mx-auto mt-6 max-w-2xl sm:px-6 md:grid md:max-w-5xl md:grid-cols-3 md:gap-x-8 md:px-8">
          <div class="aspect-h-4 aspect-w-3 hidden overflow-hidden rounded-3xl md:block border border-white/10">
            <Image
              src={projectImages[0]()}
              alt=""
              height={2400}
              width={2000}
              class="h-full w-full object-cover object-center"
              inferSize={true}
            />
          </div>
          <div class="hidden md:grid md:grid-cols-1 md:gap-y-8">
            <div class="aspect-h-2 aspect-w-3 overflow-hidden rounded-3xl border border-white/10">
              <Image
                src={projectImages[1]()}
                alt=""
                height={1200}
                width={1800}
                class="h-full w-full object-cover object-center"
                inferSize={true}
              />
            </div>
            <div class="aspect-h-2 aspect-w-3 overflow-hidden rounded-3xl border border-white/10">
              <Image
                src={projectImages[2]()}
                alt=""
                height={1200}
                width={1800}
                class="h-full w-full object-cover object-center"
                inferSize={true}
              />
            </div>
          </div>
          <div class="aspect-h-5 aspect-w-4 md:aspect-h-4 md:aspect-w-3 sm:overflow-hidden sm:rounded-3xl border-y sm:border border-white/10">
            <Image
              src={projectImages[3]()}
              alt=""
              height={2400}
              width={2000}
              class="h-full w-full object-cover object-center"
              inferSize={true}
            />
          </div>
        </div>
      ) : hasImages ? (
        <slot name="demo" />
      ) : (
        <slot name="demo" />
      )
    }

    <!-- Product info -->
    <div
      class="mx-auto max-w-2xl px-4 pb-0 pt-10 sm:px-6 md:grid md:max-w-5xl md:grid-cols-3 md:grid-rows-[auto,auto,1fr] md:gap-x-8 md:px-8 md:pb-24 md:pt-16"
    >
      <div
        class="md:col-span-2 md:border-r md:border-neutral-200 dark:border-neutral-900 md:pr-8"
      >
        <h1
          class="text-2xl font-bold tracking-tight text-neutral-900 dark:text-white sm:text-3xl"
        >
          {project.name}
        </h1>
      </div>

      <!-- Options -->
      <div class="mt-4 md:row-span-3 md:mt-0">
        <div class="mt-0">
          {
            hasTags && (
              <div class="mt-0 sm:mt-4">
                <div class="flex flex-wrap gap-3">
                  {project.tags.map((tag: string) => (
                    <Badge size="lg">{tag}</Badge>
                  ))}
                </div>
              </div>
            )
          }

          <div class="mt-8 flex flex-col gap-4">
            <ProjectButtons
              codeUrl={project.codeUrl}
              projectUrl={project.projectUrl}
            />
          </div>
        </div>
      </div>

      <div
        class="py-10 md:col-span-2 md:col-start-1 md:border-r md:border-neutral-200 dark:border-neutral-900 md:pb-16 md:pr-8 md:pt-6"
      >
        <ProseWrapper>
          <slot />
        </ProseWrapper>
      </div>
    </div>

    {
      hasMultipleImages ? (
        <div class="mx-auto mt-6 max-w-2xl sm:px-6 md:hidden pb-24">
          <div class="aspect-h-2 aspect-w-3 overflow-hidden sm:rounded-3xl mt-4 border-y sm:border border-white/10">
            <Image
              src={projectImages[1]()}
              height={1200}
              width={1800}
              alt=""
              class="h-full w-full object-cover object-center"
              inferSize={true}
            />
          </div>
          <div class="aspect-h-4 aspect-w-3 overflow-hidden sm:rounded-3xl mt-4 border-y sm:border border-white/10">
            <Image
              src={projectImages[0]()}
              height={2400}
              width={2000}
              alt=""
              class="h-full w-full object-cover object-center"
              inferSize={true}
            />
          </div>
          <div class="aspect-h-2 aspect-w-3 overflow-hidden sm:rounded-3xl mt-4 border-y sm:border border-white/10">
            <Image
              src={projectImages[2]()}
              alt=""
              height={1200}
              width={1800}
              class="h-full w-full object-cover object-center"
              inferSize={true}
            />
          </div>
        </div>
      ) : null
    }
  </div>
</div>
