---
import SocialLink from "$components/Helper/SocialLink.astro";
import Facebook from "$components/Icons/Facebook.astro";
import Github from "$components/Icons/Github.astro";
import LinkedIn from "$components/Icons/LinkedIn.astro";
import Mail from "$components/Icons/Mail.astro";
import { SOCIALS } from "src/config";

interface Props {
  lang: string;
}

const { lang } = Astro.props;

// Lấy nội dung theo ngôn ngữ
const titles = {
  en: {
    title: "get in touch",
    description:
      "you have a project in mind? let's talk about it. drop me a line and I'll get back to you as soon as possible.",
  },
  vi: {
    title: "liên hệ",
    description:
      "bạn có một dự án trong đầu? hãy nói chuyện về nó. gửi cho tôi một dòng và tôi sẽ phản hồi sớm nhất có thể.",
  },
};

const content = titles[lang as keyof typeof titles] || titles.en;
---

<div
  class="relative isolate py-32 bg-black/30 md:bg-transparent section pointer-events-none"
  id="contact"
>
  <div class="mx-auto max-w-5xl px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-x-8 gap-y-10 md:grid-cols-3">
      <div>
        <h2
          class="text-3xl font-bold tracking-tight text-base-900 dark:text-base-100 pointer-events-auto"
        >
          {content.title}
        </h2>
        <p
          class="mt-4 leading-7 text-base-600 dark:text-base-300 pointer-events-auto"
        >
          {content.description}
        </p>

        <ul role="list" class="mt-8 pointer-events-auto">
          <SocialLink href={SOCIALS.GITHUB} class="mt-4">
            <svelte:fragment slot="icon">
              <Github class="w-6 h-6" />
            </svelte:fragment>
            github</SocialLink
          >
          <SocialLink href={SOCIALS.LINKEDIN} class="mt-4">
            <svelte:fragment slot="icon">
              <LinkedIn class="w-6 h-6" />
            </svelte:fragment>
            linkedin
          </SocialLink>
          <SocialLink href={SOCIALS.FACEBOOK} class="mt-4">
            <svelte:fragment slot="icon">
              <Facebook class="w-6 h-6" />
            </svelte:fragment>
            facebook
          </SocialLink>
          <SocialLink href={SOCIALS.MAIL} class="mt-8">
            <svelte:fragment slot="icon">
              <Mail class="w-6 h-6" />
            </svelte:fragment>
            {SOCIALS.MAIL.replace("mailto:", "")}
          </SocialLink>
        </ul>
      </div>
    </div>
  </div>
</div>
